@*@using PremierLeaguePortal.Models
@using System.Web.Mvc.Html

@helper DrawActionLink(string linkText, string actionMethod, object routeVals, object htmlAttributes, ELinkType linkType) {
switch (linkType)
{
    case ELinkType.CREATE:

        break;
    case ELinkType.DETAILS:

        break;
    case ELinkType.EDIT:
            <div class="btn btn-primary btn-group-justified">
                @Html.ActionLink(linkText, actionMethod, routeVals, htmlAttributes)
            </div>
        break;
    case ELinkType.PREVIEW:

        break;

    case ELinkType.DELETE:

        break;
    default:
        throw new ArgumentException("The linktype is not implemented");
}/**/
}*@