@{
    ViewBag.Title = "Контакти";
}
<div class="container-fluid">
    <div class="row">
        <h2 class="col-md-12">@ViewBag.Title.</h2>
    </div>
    <div class="row">
        Поради технически проблеми с имейлите ще ви помоля да пишете директно на имейлът или фейсбукът ми за да получите авторски права,
        за да съобщите за бъг или всякакви други въпроси. Благодаря за разбирането!
    </div>
    <div class="row">
        <address>
            <strong>Съпорт:</strong>   
            <div>E-mail: <a href="mailto:Support@example.com">ananievnikola@gmail.com</a><br /></div>
            <div>Facebook: <a href="https://web.facebook.com/nikola.ananiev.7" target="_blank">Никола</a><br /></div>
        </address>
    </div>
</div>


