
@{
    ViewBag.Title = "Sent";
}

<h2>Благодаря, че писахте! Ще ви бъде отговорено по възможно най-бързия начин :)</h2>
@plp_Helpers.GenerateActionLinkButton(Url, "Index", "Home", PremierLeaguePortal.Models.ELinkType.DETAILS, "Начало")

